@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body,
a,
button,
input,
select,
option {
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Lists */
ul {
  list-style: none;
}

/* Anchor */
a {
  text-decoration: none;
  color: #fff;
}

/* Buttons */
button {
  outline: none;
  border: none;
}

button,
.btn {
  cursor: pointer;
}

button:hover,
.btn:hover {
  opacity: 0.9;
}